/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body settings */
  body {
    background-color: #fff;
    color: #000;
  }
  
  /* Header with drop shadow */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  header .title {
    background: rgb(0, 0, 0);
    color: white;
    font-family: "Domine", system-ui, sans-serif;
    user-select: none;
    width: fit-content;
    padding: 0.5rem 0.5rem;
  }

  header .nav {
    display: flex;
    gap: 1.5rem;
    padding-right: 1rem;
  }

  /* make sure hover adds orange underline */
  header .nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: system-ui, sans-serif;
    display: flex;
    align-items: center;
  }

  header .nav a:hover {
    text-decoration: underline;
    text-decoration-color: #bf5900;
  }
  
  /* Main content */
  main {
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  main h2 {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #bf5900;
  }
  